/closer-backend/node_modules
/closer-backend/public/build
/closer-backend/public/hot
/closer-backend/public/storage
/closer-backend/storage/*.key
/closer-backend/vendor
/closer-backend/.env
/closer-backend/.env.backup
/closer-backend/.phpunit.result.cache
/closer-backend/Homestead.json
/closer-backend/Homestead.yaml
/closer-backend/npm-debug.log
/closer-backend/yarn-error.log
/closer-backend/.idea
/closer-backend/.vscode
