@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  background-color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  margin: 10px 0 0 20px;
  z-index: 99999;


}

.clickable {
  z-index: 99999;
}

.logo>img {
  cursor: pointer;
  z-index: 9999;
}

.splash {

  background-image: url('./assets/2510615.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.header {
  display: flex;
  justify-content: space-between;
}

.login {
  margin: 40px 20px 0 0;
  display: flex;
  gap: 10px
}

.button-signup {
  font-family: 'orbitron';
  cursor: pointer;
  color: white;
  box-sizing: border-box;
  background-color: transparent;
  width: 118px;
  height: 58px;
  border: 5px solid #FFFFFF;
  filter: drop-shadow(0px 0px 18.36px #DF8C26);
  border-radius: 15px;
}

.button-login {
  cursor: pointer;
  font-family: 'orbitron';
  color: white;
  width: 118px;
  height: 58px;
  background: #DF8C26;
  box-shadow: 0px 0px 18.36px #DF8C26;
  border-radius: 15px;
  border-color: transparent;

}

.closer-hero {
  color: white;
}

.main-header {
  display: flex;
  width: 100%;
  justify-content: center;

  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  height: fit-content;

}

.explore {

  width: 170px;
  height: 75px;
  color: white;
  background: #000000;
  border-radius: 50px;
  font-family: 'Orbitron';
  margin: 50px;
  font-size: 24px;
  cursor: pointer;

}



.getstarted {

  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.main-header-description {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: 'Orbitron';
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: #FFFFFF;

}

.videobg {
  width: 100%;
  height: 80vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}




.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, .5);
  /* background-color: #000000cc; */
}

.splash-host {
  display: flex;
  margin: 0 0 0 0;
  align-items: center;
  background: linear-gradient(-45deg, #000000, #0c0717, #150050, #3f0071, #610094, #2c00cc);
  background-size: 400% 400%;
  animation: cubic 10s cubic-bezier(0.60, 1, 0.70, 0) infinite;
  height: 100vh;
}

@keyframes cubic {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.splash-host-text {
  font-family: 'orbitron';
  margin: 50px;
  width: 50%;
}

.heading1 {

  text-shadow: 0px 0px 60.3px #FFFFFF;
  color: white;
  font-size: 24pt;
}

.splash-host-description {

  color: white;
  font-size: 24pt;
  width: 100%;
}

.splash-host-artboard {
  width: 50%;
  margin: 50px;
  justify-items: center;
  text-align: center;
}

.splash-host-artboard>img {
  height: 450px;
}



.host-button {

  cursor: pointer;
  width: 200px;
  height: 77px;
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  background: #FFFFFF;
  border-radius: 50px;
  border: none;
}

.login-modal {
  padding: 0 30px 0 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: rgba(0, 0, 0, 0.95);
  border: 2px solid #000;
  box-shadow: 24;
  z-index: 4;
  border-radius: 15px;
  box-shadow: 0px 0px 18.36px #DF8C26;

}

.login-logo>img {
  margin: 30px 0 40px 0;
  width: 100%;
}

.login-heading {

  font-family: 'Orbitron';
  text-align: center;
  color: white;
  font-size: 28pt;
  margin: 40px 0 0 0;
  font-weight: bold;
}

.login-subheading {

  font-family: 'Orbitron';
  text-align: center;
  color: white;
  font-size: 14pt;

  margin: 15px 0 30px 0;
}

.login-form {


  display: flex;
  justify-content: space-around;

}

.login-input>input {

  height: 68.25px;
  width: 100%;
  padding-left: 10px;
  margin: 10px 20px 10px 0;
  color: white;
  font-family: 'Orbitron';
  background: rgba(18, 14, 19, 0.3);
  border: 1px solid #4E4651;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.login-input>input::placeholder {
  font-family: 'Orbitron';
  color: #4E4651;
}

.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 40%;
}

.login-btn {

  background: rgba(18, 14, 19, 0.7);
  border-radius: 15px;
  color: white;
  font-family: "Orbitron";
  height: 69px;
  width: 107%;
  cursor: pointer;
  margin: 10px 20px 10px 0;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  column-gap: 30%;


}

.vl {
  border-left: 6px solid #F88543;
  border-radius: 20px;
  height: 50px;
  box-shadow:
    0px 0px 8.976px #F88543,
    0px 0px 4.488px #F88543;


}

.navbar-pages {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-family: "Orbitron";
  font-size: 8pt;
  z-index: 9999;
}



a:visited {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.profile {
  display: flex;
  border: white solid 2px;
  height: fit-content;

  align-items: center;
  border-radius: 30px;
  margin: 0 10px 0 0;
}

.profile>img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}

.container {
  z-index: 10;
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 0 0;

}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -7px);
}

.searchbar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 85px 0 0 0;

}

.searchbar-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  font-size: 24pt;
  color: white;
  font-family: "orbitron";
  font-weight: bold;

}

.searchbar {
  display: flex;
  font-size: 14pt;
  font-weight: normal;
  width: 70%;
  height: 64px;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  margin: 20px 15% 0 15%;
  align-items: center;
  justify-content: space-between;

  z-index: 5;
}

.searchbar input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14pt;
  font-family: "orbitron";
  width: 100%;
  padding: 0 0 0 15px;
}



.magnifier {
  margin: 4px 5px 0 0;

}

.searchbar input::placeholder {
  font-family: "orbitron";
  font-size: 14pt;
}

.searchbar input:focus {
  background-color: transparent;
  outline: none;
}

.searchbar input:active {
  border: none;
}

.border {
  border: solid white;
  background-color: white;

}

.events-container {
  height: 400px;
  width: 100%;

}

.trending-title {
  margin: 30px 0 0 30px;
  font-family: "orbitron";
  font-size: 36pt;
  background: linear-gradient(94.81deg, #5a0dff 0%, #850080 94.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1 {
  color: white
}

.eventcard {
  width: 250px;
  height: 300px;
  border-radius: 30px;
  margin: 40px 30px 40px 30px;
}

.eventcard>img {
  width: 250px;
  height: 300px;
  border-radius: 30px;
}

.eventname {
  font-family: "orbitron";
  font-size: 18pt;
  color: white;
  text-align: center;
  margin: 10px
}

.events-section {

  margin: 0 0 0 0;
  align-items: center;
  background: linear-gradient(-45deg, #000000, #0c0717, #150050, #3f0071, #610094, #2c00cc);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100%;
}

.events-display {
  display: flex;
  flex-wrap: wrap;
}


.upload-banner-container {
  display: flex;
  justify-content: center;


}



.upload-banner {
  height: 225px;
  width: 672.5px;
  border-radius: 15px;

}

.upload-banner img {
  height: 225px;
  width: 672.5px;
  border-radius: 15px;
  transition: all 1s ease;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  margin: 0px;
  margin-right: 20px !important;
  cursor: pointer;
  transform: scale(2, 2);
}

.upload-banner img:hover {
  transform: scale(2, 2);
  box-shadow:
    0px 0px 8.976px #000000,
    0px 0px 4.488px #000000;
}

.event-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;

  margin: 0 0 10px 0;
}

.event {
  transition: all 1s ease;
}

.event:hover {
  transform: scale(1.1, 1.1);
  transition: 0.4s;
  cursor: pointer;

}

.host-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  font-family: "orbitron";

}

.host-info {
  border: solid white;
  border-radius: 15px;
  margin: 30px 0 0 0;
  height: 300px;
  width: 90%;
  color: white;

}

.host-info-title {
  display: flex;
  margin: 15px;
  font-size: 18pt;
  justify-content: space-between;

}


.stats {

  display: flex;
  justify-content: center;



}

.stats-number {

  display: flex;
  justify-content: space-around;
  align-content: center;

}

.total-attendees,
.total-events {
  text-align: center;
  font-size: 16pt;
  width: 30%;
  margin: 30px 0 0 0;
}

.stats-number>.vl {
  transform: rotate(90deg);
  height: 150px;
}

.stats-subcontainer {
  border: white 1px solid;
  border-radius: 15px;
  margin: 0 10% 0 10%;
  width: 80%;
}

.stats>div>img {
  width: 80px;
  height: 80px;
  border-radius: 50%;

  margin: -40px 0 0 0;
}

.upcoming {
  margin: 70px 0 0 0;
}

.family {
  font-size: 16pt;
  color: lightgray;
}

.dropzone {
  display: flex;
  justify-content: center;
  border: solid white 1px;
  border-radius: 15px;
  margin: 100px 200px 100px 200px;
  padding: 20px 0 20px 0;
}

.dropzone-input {
  display: flex;
  justify-content: center;

}

.dropzone-input img {
  width: 60%;
}


.dropzone p {
  color: white;
  font-family: "orbitron";
  text-align: center;
}

.event-info-title {
  color: white;
  font-family: "orbitron";
  font-size: 32pt;
  text-align: center;
}

.event-info-container,
.banner-main-container {
  border: solid white 1px;
  border-radius: 15px;
  margin: 10px 200px 100px 200px;
  padding: 20px 0 20px 0;
}

.cover-photo-desc {
  border: solid white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  color: black;
  background-color: white;
  border-radius: 10px;
  font-size: 12pt;
  font-family: "orbitron";
  width: 76%;
  text-align: center;
}

.event-info-container {
  display: flex;
  justify-content: space-between;
}

.upload-photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload {
  margin: 10px 0 20px 0;
  width: 80%;
  height: 300px;
  border-radius: 15px;
}



.upload img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

#fileId,
#fileId2 {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 30px 0 70px 0;
  width: 100%;
  border-radius: 15px;
}

.video-container video {
  width: 50%;
  border-radius: 15px;

}


.event-info-input {

  width: 50%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.event-info-input>input {

  height: 68.25px;
  width: 80%;
  padding-left: 10px;
  margin: 10px 50px 10px 50px;
  color: white;
  font-family: 'Orbitron';
  background: rgba(18, 14, 19, 0.3);
  border: 1px solid #4E4651;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

select {
  height: 68.25px;
  width: 83%;
  padding-left: 10px;
  margin: 10px 50px 10px 50px;
  color: white;
  font-family: 'Orbitron';
  background: rgba(18, 14, 19, 0.3);
  border: 1px solid #4E4651;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.leaflet-container {

  width: 1000px;
  height: 400px;

  border-radius: 15px;
}

.profile-logout {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;

}

.button-logout {

  opacity: 0;
  transition: all 1s;
  font-family: 'orbitron';
  font-weight: bold;
  color: #DF8C26;
  width: 80px;
  height: 58px;
  background: white;
  box-shadow: 0px 0px 5.36px white;
  border-radius: 15px;
  border-color: transparent;
  margin: 15px 0 0 5px;
  position: absolute;
}

.button-logout-shown {
  cursor: pointer;
  opacity: 1;
  font-family: 'orbitron';
  font-weight: bold;
  color: #DF8C26;
  width: 80px;
  height: 58px;
  background: white;
  box-shadow: 0px 0px 5.36px white;
  border-radius: 15px;
  border-color: transparent;
  margin: 15px 0 0 5px;
  transition: all 1s;
  position: absolute;
  z-index: 100;

}

.event-cat-title,
.datetime-location-container {
  font-family: "orbitron";
  margin: 30px 0 30px 150px;
}

.white-icons {
  color: white;
  font-size: 46pt;
}

.datetime-container,
.location-container {
  margin: 10px 0 10px 0;
  display: flex;
  color: white;
  width: 30%;
  font-size: 18pt;
}

.location {
  width: 50%;
}

.category-name {
  background: linear-gradient(94.81deg, #8247FF 0%, #FF47F8 94.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 18pt;
}

.event-title {
  font-size: 28pt;
  color: white;
  font-weight: bold;
  width: 30%;
}

.host-name {
  font-size: 20pt;
  color: white;
}

.cover-photo {
  margin: 0 0 30px 0;
  transition: all 1s ease;
  position: absolute;
}

.cover-photo:hover {
  opacity: .2;
}

.attendees {
  display: flex;
  flex-wrap: wrap;
}

.btn-reserve-container {
  display: flex;
  justify-content: center;

}

.btn-reserve {
  position: fixed;
  bottom: 0;
  justify-self: center;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 15px;
  font-family: "orbitron";
  color: white;
  font-size: 22pt;
  background: linear-gradient(273.35deg, #FF47F8 -6.07%, #9747FF 100%);
  border-radius: 30px;
  margin: 0 0 20px 0;
  cursor: pointer;
  z-index: 500;
  /* pointer-events: none;
  background-color: rgba(0, 0, 0, .5); */
}

.attendee {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 40px 30px 40px 30px;
}

.attendee>img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.attendee {
  font-family: "orbitron";
  font-size: 8pt;
  color: white;
  text-align: center;
  margin: 10px
}

.attendees-container {
  display: flex;

  justify-content: flex-end;
}

.attendees-count {
  display: flex;

}

.Toastify__toast-body {
  font-family: "orbitron";
  display: flex;
  justify-content: center;
}

.count-coming {
  color: #8B8B8B;
  font-size: 18pt;
  font-family: "orbitron";
}

.grey-icons {
  color: #8B8B8B;
  font-size: 23pt;

}

a:hover {
  text-decoration: underline;
}

.notfound {
  display: flex;
  width: 100%;
  color: white;
  font-family: "orbitron";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 48pt;
  margin: 15% 0 0 0;
}

.btn-back {
  background-color: white;
  color: black;
  font-family: "orbitron";
  height: max-content;
  border-radius: 15px;
  font-size: 14pt;
  padding: 20px;
  cursor: pointer;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media (max-width:1050px) {
  .login-input {
    width: 100%;
  }

  .login-btn {

    margin: 0;
    width: 100%;
    margin: 0 0 30px 0
  }

  .navbar-pages {

    flex-direction: column;

  }

  .vl {
    transform: rotate(90deg);


  }

  .leaflet-container {

    width: 100%;
  }

  .event-info-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .event-container {

    width: 33%;

  }

  .upload-photo {
    width: 100%;
  }

  .event-info-input>input {

    width: 100%;
    margin: 20px 0 0 0;
    padding: 0;

  }

  .event-info-input>input::placeholder {

    text-align: center;

  }


  select {
    width: 100%;
    margin: 20px 0 20px 0;
  }

  .event-info-input {
    margin: 0;
  }
}

@media (max-width:810px) {

  .splash-host,
  .login-form {
    flex-direction: column-reverse;
    height: fit-content;
  }

  .stats-number>.vl {
    height: 100px;
    transform: rotate(0);
  }

  .event-container {
    width: 50%;

  }


  @media (max-width:550px) {

    .event-container {
      display: flex;
      justify-content: center;
      width: 100%;

    }
  }

}